body {	
	background: linear-gradient(to bottom, lightblue 50%, black 50%);
    color: white;
    position: relative;
} 
logo {	
	max-width : 10 px ;
	max-height : 10 px ;
	margin: 15 ;
	height: 20 px ;
} 